{% extends "base.html" %}
{% block content %}
<!-- 404 error page -->
<div class="error-img">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel center-align">
                    <h3>404 error</h3>
                    <h5>Sorry, the page you are looking for can't be found.</h5>
                    <h5><a class="btn-large green accent-3 text-shadow" href="{{ url_for('get_home') }}"><i
                                class="fas fa-hand-point-left"></i> Return Home</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}