@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: "Be Vietnam", sans-serif;
}

.nav-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

ul.dropdown-content li a {
    color: black; 
    font-weight: 100;
    text-shadow: none;
}

