@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

main {
    flex: 1 0 auto;
}

/*--- Font styling ---*/
html,
body {
    font-family: "Be Vietnam", sans-serif;
    letter-spacing: 0.05em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*--- Recipes dropdown Navbar styling ---*/
ul.dropdown-content li a {
    color: black;
    font-weight: 100;
    text-shadow: none;
}

/*--- hr styling - index.html ---*/
hr {
    border: 1px solid #00e676;
    border-radius: 60%;
}

/*--- Image - index.html ---*/
.home-banner {
    height: 30vh;

    background: url("../images/home-banner.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    z-index: 10;
}

/*--- Image - signin/up.html ---*/
.sign-bg-img {
    height: 100vh;

    background: url("../images/signin-up.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    z-index: 10;
}

/*--- Image - add_recipe.html ---*/
.add-recipe-bg-img {

    background: url("../images/add-recipe.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    z-index: 10;
}
/*--- Carousel - index.html ---*/
.carousel {
    overflow: visible;
    margin-left: 121px;
}
/*--- Logo - index.html ---*/
.logo-box {
    color: white;
}

.logo-box img {
    width: 100px;
    height: 100px;
}

/*--- Recipes Cards styling - index/recipes/profile.html ---*/
.card-image {
    height: 150px;
    overflow: hidden;
}

.card-content {
    height: 175px;
}

.card-panel {
    padding: 10px;
}

/*--- Button styling  ---*/
.btn-small {
    margin: 5px;
}

.btn-large {
    margin: 5px;
}

.home-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.country-heading {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.country-flag {
    margin-top: 8px;
}

.flashes {
    line-height: 2;
    color: #ce3434;
    margin: 0 auto;
    border-top: solid;
    border-width: 1px;
    border-color: white;

}

.recipe-name {
    padding: 10px;
    margin: 0;
}

/*--- Footer - base.html---*/
.footer-logo img {
    width: 80px;
    height: 80px;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 12px 0;
    font-size: 24px;
    line-height: 12px;
    color: #ce3434;
}

/*---Recipe Description - recipe.html---*/
.recipe-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipe-list li {
    margin-top: 30px;
    border-bottom: 1px solid #00e676;
    border-radius: 10%;
}

.recipe-list li:first-child {
    margin-top: 0;
}

.ingredients-list li {
    margin-top: 20px;
    border-bottom: 1px solid #00e676;
    border-radius: 10%;
}

.ingredients-list li:first-child {
    margin-top: 0;
}

.ingredients-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*---Media queries for varying display sizes---*/

@media (max-width: 993px) {
    .card-content {
        height: auto;
    }
}

@media (min-width: 885px) {
    .search-btn {
        margin-top: 20px;
    }
}
