@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: "Be Vietnam", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

ul.dropdown-content li a {
    color: black; 
    font-weight: 100;
    text-shadow: none;
}


.home-banner {
    height: 40vh;

    background: url("../images/home-banner.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:multiply;
}

.sign-bg-img {
    height: 100vh;

    background: url("../images/signin-up.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:multiply;
}

.add-recipe-bg-img {
    height: auto;

    background: url("../images/add-recipe.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:multiply;
}

.logo-box {
    position: relative;
    display: inline-block;
    color: white;
    padding-left: 40px;
}

.logo-box img {
    width: 155px;
    height: 155px;
}
.logo-box .logo-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 20%;
    top: 100%;
    text-align: center;
    width: 100%;
}

.logo-text strong {
    color: white;
}

.card-image{
    height: 150px;
    overflow: hidden;
}

  main {
    flex: 1 0 auto;
  }

.flashes {
    line-height: 2;
    color: #ce3434;
    margin: 0 auto;
    border-top: solid;
    border-width: 1px;
    border-color: white;

}

.card-panel {
      padding: 10px;
  }

.btn-small {
    margin: 5px;
}

.btn-large {
    margin: 5px;
}

.recipe-name {
    padding: 10px;
    margin: 0;
}

.footer-logo img {
    width: 80px;
    height: 80px;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 12px 0;
    font-size: 24px;
    line-height: 12px;
    color: #ce3434;
}