<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Southeast Feasts | Your Best Asian Recipes</title>
</head>

<body>

    <header>
        <!-- Dropdown Content Navbar -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('recipes', country='South East Asia') }}">All</a></li>
            <li><a href="{{ url_for('recipes', country='Brunei') }}">Brunei</a></li>
            <li><a href="{{ url_for('recipes', country='Cambodia') }}">Cambodia</a></li>
            <li><a href="{{ url_for('recipes', country='East Timor') }}">East Timor</a></li>
            <li><a href="{{ url_for('recipes', country='Indonesia') }}">Indonesia</a></li>
            <li><a href="{{ url_for('recipes', country='Laos') }}">Laos</a></li>
            <li><a href="{{ url_for('recipes', country='Malaysia') }}">Malaysia</a></li>
            <li><a href="{{ url_for('recipes', country='Myanmar') }}">Myanmar</a></li>
            <li><a href="{{ url_for('recipes', country='Philippines') }}">Philippines</a></li>
            <li><a href="{{ url_for('recipes', country='Singapore') }}">Singapore</a></li>
            <li><a href="{{ url_for('recipes', country='Thailand') }}">Thailand</a></li>
            <li><a href="{{ url_for('recipes', country='Vietnam') }}">Vietnam</a></li>
        </ul>
        <!-- Materalize Navbar -->
        <nav class="nav-extended text-shadow green accent-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_home') }}" class="brand-logo left">Southeast Feasts</a>
                <a data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_home') }}">Home</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" data-target="dropdown1">Recipes<i class="material-icons right"><i
                                    class="fas fa-sort-down fa-xs"></i></i></a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                    <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('sign_in') }}">SignIn/SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Dropdown Content SideNav -->
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="{{ url_for('recipes', country='South East Asia') }}">All</a></li>
            <li><a href="{{ url_for('recipes', country='Brunei') }}">Brunei</a></li>
            <li><a href="{{ url_for('recipes', country='Cambodia') }}">Cambodia</a></li>
            <li><a href="{{ url_for('recipes', country='East Timor') }}">East Timor</a></li>
            <li><a href="{{ url_for('recipes', country='Indonesia') }}">Indonesia</a></li>
            <li><a href="{{ url_for('recipes', country='Laos') }}">Laos</a></li>
            <li><a href="{{ url_for('recipes', country='Malaysia') }}">Malaysia</a></li>
            <li><a href="{{ url_for('recipes', country='Myanmar') }}">Myanmar</a></li>
            <li><a href="{{ url_for('recipes', country='Philippines') }}">Philippines</a></li>
            <li><a href="{{ url_for('recipes', country='Singapore') }}">Singapore</a></li>
            <li><a href="{{ url_for('recipes', country='Thailand') }}">Thailand</a></li>
            <li><a href="{{ url_for('recipes', country='Vietnam') }}">Vietnam</a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_home') }}">Home</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" data-target="dropdown2">Recipes<i class="material-icons right"><i
                            class="fas fa-sort-down fa-xs"></i></i></a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('sign_in') }}">SignIn/SignUp</a></li>
            {% endif %}

        </ul>
    </header>

    <section>
        <!-- flash message-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h5 class="green accent-4 center-align flashes">{{ message }}</h5>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <main class="grey lighten-4">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="page-footer text-shadow green accent-4">
        <div class="container">
            <div class="row center-align footer-margin">
                <div class="col l6 s12 footer-logo">
                    <h5 class="white-text">Southeast Feasts</h5>
                    <p class="grey-text text-lighten-4">Your Best Asian Recipes.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Socials</h5>
                    <ul class="social-links">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/?lang=en-gb">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
                © 2021 Copyright
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>