<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Southeast Feasts | Your Best Asian Recipes</title>
</head>
<body>

    <header>
        <!-- Dropdown Content Navbar -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('get_recipes', country='all') }}">All</a></li>
            <li><a href="{{ url_for('get_recipes', country='Thailand') }}">Thailand</a></li>
            <li><a href="{{ url_for('get_recipes', country='Vietnam') }}">Vietnam</a></li>
            <li><a href="{{ url_for('get_recipes', country='Cambodia') }}">Cambodia</a></li>
            <li><a href="{{ url_for('get_recipes', country='Laos') }}">Laos</a></li>
            <li><a href="{{ url_for('get_recipes', country='Indonesia') }}">Indonesia</a></li>
            <li><a href="{{ url_for('get_recipes', country='Malaysia') }}">Malaysia</a></li>
            <li><a href="{{ url_for('get_recipes', country='Phillipines') }}">Phillipines</a></li>
            <li><a href="{{ url_for('get_recipes', country='Singapore') }}">Singapore</a></li>
            <li><a href="{{ url_for('get_recipes', country='Myanmar') }}">Myanmar</a></li>
        </ul>
        <nav class="nav-extended nav-shadow green accent-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_home') }}" class="brand-logo">Southeast Feasts</a>
                <a data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_home') }}">Home</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" data-target="dropdown1">Recipes<i
                                class="material-icons right"><i class="fas fa-arrow-down fa-xs"></i></i></a></li>
                    <li><a href="#">Profile</a></li>            
                    <li><a href="##">SignIn/SignUp</a></li>
                    <li><a href="###">Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <!-- Dropdown Content SideNav -->
<ul id="dropdown2" class="dropdown-content">
            <li><a href="{{ url_for('get_recipes', country='all') }}">All</a></li>
            <li><a href="{{ url_for('get_recipes', country='Thailand') }}">Thailand</a></li>
            <li><a href="{{ url_for('get_recipes', country='Vietnam') }}">Vietnam</a></li>
            <li><a href="{{ url_for('get_recipes', country='Cambodia') }}">Cambodia</a></li>
            <li><a href="{{ url_for('get_recipes', country='Laos') }}">Laos</a></li>
            <li><a href="{{ url_for('get_recipes', country='Indonesia') }}">Indonesia</a></li>
            <li><a href="{{ url_for('get_recipes', country='Malaysia') }}">Malaysia</a></li>
            <li><a href="{{ url_for('get_recipes', country='Phillipines') }}">Phillipines</a></li>
            <li><a href="{{ url_for('get_recipes', country='Singapore') }}">Singapore</a></li>
            <li><a href="{{ url_for('get_recipes', country='Myanmar') }}">Myanmar</a></li>
        </ul>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('get_home') }}">Home</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" data-target="dropdown2">Recipes<i
                                class="material-icons right"><i class="fas fa-arrow-down fa-xs"></i></i></a></li>
                    <li><a href="##">Profile</a></li>            
                    <li><a href="###">Add Recipe</a></li>            
                    <li><a href="####">SignIn/SignUp</a></li>
                    <li><a href="#####">Sign Out</a></li>
  </ul>
    </header>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>