{% extends "base.html" %}
{% block content %}
<div class="home-banner">
    <div class="row">
        <div class="col s12 center-align">
            <div class="logo-box">
                <img src="static/images/southeast-logo.png" alt="logo">
                <h6>- Your Best Asian Recipes -</h6>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s4 m3 l2">
        <div class="carousel carousel-slider">
            {% for country in countries %}
            <div class="carousel-item">
                <img class="center-align" src="{{ country.flag }}">
            </div>

            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-padding">
        <div class="col s12">
            <div class="card-panel">
                <h4>Welcome!</h4>
                <p>South East asian dishes have become firm favourites all over the world. Classics like Pho & Pad Thai
                    are enjoyed by millions everyday. This website enables you to share your favourite recipes from
                    across all of South East aisa, whether it is one of your traditional family recipes or one you
                    discovered on your travels.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row home-padding">
        <h4 class="center-align">Recently Created Recipes</h4>
        {% for recipe in recipes %}
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="materialboxed" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <h6 class="recipe-name text-shadow white-text green accent-3">{{ recipe.recipe_name }}</h6>
                <div class="card-content">
                    <p>Country: {{ recipe.country }}</p>
                    <br>
                    <strong>Created By: {{ recipe.created_by }}</strong><br>
                    <em>Created date: {{ recipe.created_date }}</em>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for('recipe_description', recipe_id=recipe._id) }}" class="btn-small green accent-3 text-shadow">Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row home-padding">
        <h4 class="center-align black-text">Register today!</h4>
        <div class="col s12 m4 offset-m1 center-align">
           <h6><i class="fas fa-share green-text text-accent-3"></i> Share Your Recipes</h6>
           <br>
           {% if session.user %}
           <a href="{{ url_for('add_recipe') }}"><img class="responsive-img circle" src="static/images/share.jpg" alt="share"></a>
           {% else %}
           <a href="{{ url_for('sign_in') }}"><img class="responsive-img circle" src="static/images/share.jpg" alt="share"></a>
           {% endif %}
        </div>
        <div class="col s12 m4 offset-m2 center-align">
           <h6><i class="fas fa-globe-asia green-text text-accent-3"></i> Discover New Recipes</h6>
           <br>
           <a href="{{ url_for('get_recipes', country='South East Asia') }}"><img class="responsive-img circle" src="static/images/discover.jpg" alt="discover"></a>
        </div>
        <div class="col s12 center-align">
            <a href="{{ url_for('sign_in') }}" class="btn-small green accent-3 text-shadow">Sign In / Sign Up</a>
        </div>
    </div>
</div>
</div>


{% endblock %}