{% extends "base.html" %}
{% block content %}
<div class="home-banner">
    <div class="row">
        <div class="col s12 center-align">
            <div class="logo-box">
                <img src="static/images/southeast-logo.png" alt="logo">
                <div class="logo-text">
                    <strong>- Your Best Asian Recipes -</strong>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s7 welcome">
            <div class="card-panel">
            <h4>Welcome!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum neque ac dolor faucibus porttitor.
                Sed sit amet rhoncus metus. Morbi ullamcorper cursus leo, quis interdum ex hendrerit eu. Nullam et erat
                ornare, consectetur urna nec, eleifend lacus. Donec auctor odio magna, at mollis neque dapibus ac.
                Quisque iaculis nisl ac nisi tristique lobortis. Quisque blandit, velit sit amet condimentum lacinia,
                nisi sapien scelerisque massa, eu vehicula ex sapien sed turpis. In lorem erat, convallis eget augue
                vel, dictum porttitor magna.


            </p>
            </div>
        </div>
        <div class="col s5 welcome-img">
                <img src="static/images/southeast-map.jpg" alt="map-img">
        </div>
    </div>
</div>


{% endblock %}