{% extends "base.html" %}
{% block content %}
<div class="home-banner">
    <div class="opaque-overlay-banner">&nbsp;</div>
<div class="row">
                <div class="col s12 center-align">
                    <div class="logo-box">
                    <img src="static/images/southeast-logo.png" alt="logo">
                    <div class="logo-text">
                                <strong>- Your Best Asian Recipes -</strong>
                            </div>
                    </div>
                    
                </div>
            </div>


{% endblock %}
