{% extends "base.html" %}
{% block content %}
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.country }}<br>
        {{ recipe.description }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.image_url }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
        {{ recipe.recipe_by }}<br>
        {{ recipe.created_date }}<br>
    {% endfor %}
<div class="container">
    <div class="row">
    <div class="col s6 m3">
      <div class="card">
          {% for recipe in recipes %}
        <div class="card-image">
          <img src="{{ recipe.image_url }}">
        </div>
        <h6 class="recipe-name nav-shadow white-text green accent-3">{{ recipe.recipe_name }}</h6>
        <div class="card-content">
          <p>Country: {{ recipe.country }}</p>
          <br>
          <strong>Created By: {{ recipe.created_by }}</strong><br>
          <em>Created date: {{ recipe.created_date }}</em>
        </div>
        <div class="card-action center-align">
          <a class="btn-small green accent-3 nav-shadow">Recipe</a>
        </div>
            {% endfor %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}
