{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card-panel">
        <h4 class="center-align"><i class="fas fa-utensils prefix green-text text-accent-3"></i>
            {{ recipe.recipe_name }}</h4>
    </div>
    <div class="row recipe-list">
        <div class="col s12 m6">
            <ul>
                <li>
                    <h6><i class="fas fa-globe-asia prefix green-text text-accent-3"></i> Country: {{ recipe.country }}
                    </h6>
                </li>
                <li>
                    <h6><i class="fas fa-keyboard prefix green-text text-accent-3"></i> Description:
                        {{ recipe.description }}</h6>
                </li>
                <li>
                    <h6><i class="fas fa-users prefix green-text text-accent-3"></i> Serves: {{ recipe.serves }}</h6>
                </li>
                <li>
                    <h6><i class="fas fa-hourglass-start prefix green-text text-accent-3"></i> Prep time:
                        {{ recipe.prep_time }}</h6>
                </li>
                <li>
                    <h6><i class="fas fa-hourglass-end prefix green-text text-accent-3"></i> Cook time:
                        {{ recipe.cook_time }}</h6>
                </li>
                <li>
                    <h6><i class="fas fa-calendar-day prefix green-text text-accent-3"></i> Created Date:
                        {{ recipe.created_date }}</h6>
                </li>
                <li>
                    <h6><i class="fas fa-user prefix green-text text-accent-3"></i> Created By: {{ recipe.created_by }}
                    </h6>
                </li>
            </ul>
        </div>
        <div class="col s12 m6">
            <img class="responsive-img" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
        </div>
    </div>
</div>


{% endblock %}
