{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card-panel">
                <h4 class="center-align">{{ recipe.recipe_name }}</h4>
            </div>
    <div class="row">
    <div class="col s12 m6">
        <ul>
            <li>Country: {{ recipe.country }}</li>
            <li>Description: {{ recipe.description }}</li>
            <li>Serves: {{ recipe.serves }}</li>
            <li>Prep time: {{ recipe.prep_time }}</li>
            <li>Cook time: {{ recipe.cook_time }}</li>
            <li>Created Date: {{ recipe.created_date }}</li>
            <li>Created By: {{ recipe.created_by }}</li>
        </ul>
    </div>
    <div class="col s12 m6">
          <img class="responsive-img" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
        </div>
      </div>
    </div>


{% endblock %}
