{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row country-heading">
                        <div class="col s12 hide-on-small-only m2 country-flag">
            <img class="responsive-img" src="{{ flags.flag }}" alt="{{ flags.country }}">
        </div>
        <div class="col s12 m8">
            <div class="card-panel">
                <h4 class="center-align"> {{ country }} Recipes</h4>
            </div>
        </div>
                <div class="col s12 m2 country-flag">
            <img class="responsive-img" src="{{ flags.flag }}" alt="{{ flags.country }}">
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="materialboxed" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <h6 class="recipe-name nav-shadow white-text green accent-3">{{ recipe.recipe_name }}</h6>
                <div class="card-content">
                    <p>Country: {{ recipe.country }}</p>
                    <br>
                    <strong>Created By: {{ recipe.created_by }}</strong><br>
                    <em>Created date: {{ recipe.created_date }}</em>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for('recipe_description', recipe_id=recipe._id) }}"
                        class="btn-small green accent-3 nav-shadow">Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}