{% extends "base.html" %}
{% block content %}



    <div class="row">
        <form class="col s12 m4 offset-m4" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel">
                <h4 class="center-align">Sign Up!</h4>
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix green-text text-accent-3"></i>
						<input id="username" name="username" type="text" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9]{5,15}$" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix green-text text-accent-3"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s4 offset-s4 btn-large green accent-3 text-shadow">
                        Sign Up! <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}