{% extends "base.html" %}
{% block content %}
<div class="add-recipe-bg-img">
<div class="container">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row card-panel">
                <h4 class="text-shadow center align">Edit Recipe</h4>
                <!-- Choose Country dropdown field-->
                <div class="input-field col s12">
                    <i class="fas fa-globe-asia prefix green-text text-accent-3"></i>
                    <select id="country" name="country" class="validate" required>
                        <option value="" disabled>Choose Country</option>
                        {% for country in countries %}
                            {% if recipe.country == country %}
                                <option value="{{ recipe.country }}" selected>{{ recipe.country }}</option>
                            {% else %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="country">Country</label>
                </div>
                <!-- Recipe Name field-->
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix green-text text-accent-3"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                    value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <!-- Description of the recipe field-->
                <div class="input-field col s11">
                    <i class="fas fa-keyboard prefix green-text text-accent-3"></i>
                    <input id="description" name="description" minlength="5" maxlength="100" 
                    value="{{ recipe.description }}" type="text" class="validate" required>
                    <label for="description">Description</label>
                </div>
                <!-- Description info popup-->
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Short description of the recipe, up to 100 characters inc spaces. As an example the description of a Thai Green Curry could be the following: Thai green curry is a variety of curry from Thailand using coconut milk and fresh green chillies."></i>
                </div>
                <!-- Serves field dropdown-->
                <div class="input-field col s11">
                    <i class="fas fa-users prefix green-text text-accent-3"></i>
                    <input id="serves" name="serves" type="text" maxlength="1"
                            pattern="^[1-8][0-8]*$" class="validate" value="{{ recipe.serves }}" required>
                    <label for="serves">Serves</label>
                </div>
                <!-- Serves field Pop Up-->
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Enter Number Between 1 & 8"></i>
                </div>
                <!-- image url field-->
                <div class="input-field col s11">
                    <i class="fas fa-image prefix green-text text-accent-3"></i>
                    <input id="image_url" name="image_url" type="text" minlength="50" 
                    value="{{ recipe.image_url }}" class="validate" required>
                    <label for="image_url">Image URL</label>
                </div>
                <!-- image url info popup-->
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Find image online and copy link address into text input field for custom image."></i>
                </div>
                <!-- preptime field-->
                <div class="input-field col s11">
                    <i class="fas fa-hourglass-start prefix green-text text-accent-3"></i>
                    <input id="prep_time" name="prep_time" minlength="5" 
                    value="{{ recipe.prep_time }}" maxlength="9" type="text" class="validate" required>
                    <label for="prep_time">Prep time</label>
                </div>
                <!-- preptime info popup-->
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Format of prep time to be added as per the following examples 10mins, 20mins, 1hr30mins"></i>
                </div>
                <!-- cooktime field-->
                <div class="input-field col s11">
                    <i class="fas fa-hourglass-end prefix green-text text-accent-3"></i>
                    <input id="cook_time" name="cook_time" minlength="5" 
                    value="{{ recipe.cook_time }}" maxlength="9" type="text" class="validate" required>
                    <label for="cook_time">Cook time</label>
                </div>
                <!-- cooktime info popup-->
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Format of cook time to be added as per the following examples 10mins, 20mins, 1hr30mins"></i>
                </div>
                <!-- ingredients field-->
                <div class="input-field col s11">
                    <i class="fas fa-list-ol prefix green-text text-accent-3"></i>
                    <textarea id="ingredients" name="ingredients" class="materalize-textarea validate" required>{{- recipe.ingredients -}}</textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
                <!-- ingredients info popup-->
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Please enter each ingredient on a new line"></i>
                </div>
                <!-- Method field-->
                <div class="input-field col s11">
                    <i class="fas fa-comments prefix green-text text-accent-3"></i>
                    <textarea id="method" name="method" class="materalize-textarea validate" required>{{- recipe.method -}}</textarea>
                    <label for="method">Method</label>
                </div>
                <!-- Method info popup-->                
                <div class="col s1">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-3" data-position="left"
                        data-tooltip="Please enter each method step on a new line."></i>
                </div>
                <!-- Created Date Field-->
                <div class="input-field col s12">
                    <i class="fas fa-calendar-day prefix green-text text-accent-3"></i>
                    <input id="created_date" name="created_date" type="text" 
                    value="{{ recipe.created_date }}" class="validate datepicker" required>
                    <label for="created_date">Created Date</label>
                </div>
                <!-- Submit Button-->
                <div class="col s12 center-align">
                    <a href="{{ url_for('profile', username=session['user']) }}" 
                        class="btn-large red darken-1 nav-shadow">Cancel</a>
                    <button type="submit" class="btn-large blue darken-1 text-shadow">
                        Edit Recipe <i class="far fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}