{% extends "base.html" %}
{% block content %}

<!-- Heading with Country Flag -->
<div class="container">
    <div class="row heading">
                        <div class="col s12 hide-on-small-only m2 country-flag">
            <img class="responsive-img" src="{{ flags }}" alt="{{ country }}">
        </div>
        <div class="col s12 m8">
            <div class="card-panel">
                <h4 class="center-align"> {{ country|title }} Recipes</h4>
            </div>
        </div>
                <div class="col s12 m2 country-flag">
            <img class="responsive-img" src="{{ flags }}" alt="{{ country }}">
        </div>
    </div>
    <!-- Search Bar -->
    <div class="row card-panel">
        <form action="{{ url_for('recipes') }}" method="GET" class="col s12">
            <div class="div center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-info fa-2x tooltipped green-text text-accent-4 prefix" data-position="right" data-tooltip="Search by Country, recipe name or ingredient."></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4 search-btn">
                    <a href="{{ url_for('recipes', country='South East Asia') }}" class="btn-small red darken-1 text-shadow">Reset</a>
                    <button type="submit" class="btn-small green accent-4 text-shadow">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Card Panel Recipes -->
    <div class="row home-padding">
        {% for recipe in recipes %}
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="materialboxed" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <div><a href="{{ url_for('recipe_description', recipe_id=recipe._id) }}">
                <p class="recipe-name text-shadow white-text green accent-4">{{ recipe.recipe_name }}</p>
                <div class="card-content black-text">
                    
                    <p>Country: {{ recipe.country }}</p>
                    <br>
                    <strong>Created By: {{ recipe.created_by }}</strong><br>
                    <em>Created date: {{ recipe.created_date }}</em>
                </div></a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}